@page
@using CadirosCoffers.Model
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Scripts {
    <script type="module" src="~/js/Index.js"></script>
}

<div id="guideMain" class="d-flex flex-column px-3 mt-3 main-content">
</div>

<div id="zoneLayoutBigContainer" class="d-none bigImage">
    <img id="zoneLayoutBig" class="bigImage">
</div>